@import "tailwindcss";

@theme inline {
  --color-graphite: #0a0a0a;
  --color-surface: #141414;
  --color-silver: #6b6b6b;
  --color-muted-white: #f0f0f0;
  --color-cyan-accent: #00d4ff;

  --font-unbounded: 'Unbounded', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  background: #0a0a0a;
  color: #f0f0f0;
}
